<div ng-controller='productsController'>

<div id="container">
	<div id="left">
		<input type="text" ng-model="filter_name" placeholder="Search Name...">

<form ng-submit="addProduct()">
		<h4>Add a new product</h4>
		<h5>Name:</h5>
		<input type="text" ng-model="new_product.name" placeholder="Name...">

		<h5>Image (url):</h5>
		<input type="text" placeholder="http://">

		<h5>Description</h5>
		<input type="text" ng-model="new_product.description">

		<h5>Initial Quantity:</h5>
		<input type="number" min="1" max="70" ng-model="new_product.quantity">

		<input type="submit" value="Create">
</form>
	</div>
		
		<div id="main">
		<table>
		<td ng-repeat="product in products | filter: filter_name">
			{{ product.name }}<br>
			{{ product.description }}<br>
			({{ product.quantity }} left)<br><br>
		</td>
		</table>
		</div>
</div>

</div>

